{% extends '/layout.html.twig' %}
{% block pagetitle %}Error 404{% endblock %}
{% block body %}
<div class="container">
<h1 class="pagetitle">Sorry.</h1>
<p class="lead">I tried very hard, but I couldn't find what you're looking for.</p>
<p><small>And that's pretty much it.</small></p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}