<p>
    Hello {{ username }}.<br>
    <br>
    The moderation team has reviewed your decklist <b><a href="{{ url|replace({'&':'&amp;'})|raw }}">{{ decklist_name }}</a></b>.<br>
    We are sorry to tell you that your decklist has been <u>permanently</u> removed from the website. The reason is: <b>{{ reason }}</b>.
</p>

<p>
    Regards,<br>
    The moderation team of NetrunnerDB
</p>