<p>
    Hello {{ username }}.<br>
    <br>
    The moderation team has reviewed your decklist <b><a href="{{ url|replace({'&':'&amp;'})|raw }}">{{ decklist_name }}</a></b>.<br>
    The last changes have been approved and your decklist is now regularly published.
</p>

<p>
    Regards,<br>
    The moderation team of NetrunnerDB
</p>