{% extends 'AppBundle::layout.html.twig' %}

{% block head %}
<script type="text/javascript">
$(function () { NRDB.user.data.unchecked_activity = 0; });
</script>
{% endblock %}
{% block body %}

<div class="container">
	<div class="row">
        <div class="col-md-8">
        	<h1>Latest activity</h1>
        	{% if items_by_day|length == 0 %}
        	<p class="lead">Looks like nothing worth mentioning happened in the last {{ max }} days!</p>
        	{% else %}
            {% for item_by_day in items_by_day %}
            <p class="activity-day">{{ item_by_day.day }}</p>
            <div class="list-group">
        	{% for item in item_by_day.items %}
            {% if item.type == 'DECKLIST_PUBLISH' %}
            {% include 'AppBundle:Activity:decklist_publish.html.twig' %}
            {% elseif item.type == 'DECKLIST_COMMENT' %}
            {% include 'AppBundle:Activity:decklist_comment.html.twig' %}
            {% elseif item.type == 'REVIEW_PUBLISH' %}
            {% include 'AppBundle:Activity:review_publish.html.twig' %}
            {% elseif item.type == 'REVIEW_COMMENT' %}
            {% include 'AppBundle:Activity:review_comment.html.twig' %}
            {% endif %}
            {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
            {% if app.user and app.user.following|length < 2 %}
            <div class="alert alert-info" role="alert">To add users to your feed, go to their profile page and <i>follow</i> them.</div>
            {% endif %}
        </div>
        <div class="col-md-4">
			{% include 'AppBundle:Default:google_adaptable_ad.html.twig' %}
        </div>
    </div>
</div> <!-- .container -->

{% endblock %}