{% extends '/layout.html.twig' %}

{% block body %}

<div class="container decklists">
    <div class="row">
        <div class="col-md-12">
            <h1>The Gracious Donators</h1>
            <p class="lead">NetrunnerDB wouldn't be the same without them. Many, many thanks.</p>
            <p>This website is ad-free due to the generous donations of our generous Patreon supporters. Thank you all! We are working on new supporter perks as of October 2021, so please stay tuned!</p>
            <p>To become a Donator and help run the site, you can use <a href="https://paypal.me/niseiproject">Paypal</a> or join the Project NISEI <a href="https://www.patreon.com/NISEI">Patreon</a>.</p>
            <ul>
                {% for donator in donators %}
                <li>
                    <a href="{{ path('user_profile_view', {user_id:donator.id,user_name:donator.username|e('url')}) }}" class="username {{ donator.faction }}">{{ donator.username }}</a>
                    <span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div> <!-- .container -->

{% endblock %}
