{% extends '/layout.html.twig' %}

{% block body %}

<div class="container decklists">
    <div class="row">
        <div class="col-md-12">
            <h1>The Gracious Donators</h1>
            <p class="lead">NetrunnerDB wouldn't be the same without them. Many, many thanks!!!</p>
            <p>This website is ad-free due to the generous donations of our generous supporters. Thank you all!</p>
            <p>To become a Donator and help run this and all the Null Signal Games sites, you can <a href="https://ko-fi.com/nullsignalgames">support Null Signal Games on Ko-Fi</a>.</p>
            <ul>
                {% for donator in donators %}
                <li>
                    <a href="{{ path('user_profile_view', {user_id:donator.id,user_name:donator.username|e('url')}) }}" class="username {{ donator.faction }}">{{ donator.username }}</a>
                    <span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div> <!-- .container -->

{% endblock %}
