{% extends '/layout.html.twig' %}

{% block title %}NetrunnerDB Search Syntax{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <ul>
    <li>a search string is a conjunction of one or more <b>conditions</b> separated by one or more spaces</li>
    <li>a <b>condition</b> is either:
      <ul>
        <li>a <b>word</b> or <b>expression</b> or <b>disjunction</b></li>
        <li>a <b>criteria</b> followed by an <b>operator</b> followed by a <b>word</b> or <b>expression</b> or <b>disjunction</b>
      </ul>
        </li>
        <li>a <b>word</b> must match <code>/[\w\-]/</code>: letters, numbers, dashes</li>
        <li>an <b>expression</b> is any text between <code>"</code> (double quotes)</li>
        <li>a <b>disjunction</b> is several <b>words</b> or <b>expressions</b> separated by <code>|</code></li>
        <li>a <b>criteria</b> is a single letter:
          <ul>
            <li><code>x</code> &ndash; text</li>
            <li><code>a</code> &ndash; flavor text</li>
            <li><code>e</code> &ndash; set</li>
            <li><code>c</code> &ndash; cycle</li>
            <li><code>t</code> &ndash; type</li>
            <li><code>f</code> &ndash; faction</li>
            <li><code>s</code> &ndash; subtype</li>
            <li><code>d</code> &ndash; side</li>
            <li><code>i</code> &ndash; illustrator</li>
            <li><code>o</code> &ndash; cost</li>
            <li><code>g</code> &ndash; advancement cost</li>
            <li><code>m</code> &ndash; memory usage</li>
            <li><code>n</code> &ndash; influence (faction cost)</li>
            <li><code>p</code> &ndash; strength</li>
            <li><code>v</code> &ndash; agenda points</li>
            <li><code>h</code> &ndash; trash cost</li>
            <li><code>r</code> &ndash; release date</li>
            <li><code>u</code> &ndash; unique</li>
            <li><code>b</code> &ndash; banlist</li>
            <li><code>z</code> &ndash; rotation</li>
          </ul>
        </li>
        <li>an <b>operator</b> is either:
          <ul>
            <li><code>:</code> &ndash; equals</li>
            <li><code>!</code> &ndash; different from</li>
            <li><code>&lt;</code> &ndash; less than</li>
            <li><code>&gt;</code> &ndash; more than</li>
          </ul>
        </li>
        <li><b>Special case</b> <code>r</code> (release date) uses only the operators <code>&lt;</code> (inclusive) and <code>&gt;</code> (exclusive) and only understands the arguments <code>now</code> or a date YYYY-MM-DD</li>
        <li><b>Banlist</b> <code>b</code> will exclude any cards banned by that ban list. Banlist has 2 different special options in addition to specific banlists: <code>active</code> or <code>latest</code>. These two only differ when there is a yet-to-be-active banlist. Banlist can also specify a specific banlist.  Valid banlist options are 
          <ul>
          {% set latest_found = false %}
          {% for banlist in banlists %}
            <li><code>{{ banlist.code }}</code>{% if banlist.active %} (active){% endif %}{% if latest_found == false %} (latest){% set latest_found = true %}{% endif %}</li>
          {% endfor %}
          </ul>
        </li>
        <li><b>Rotation</b> <code>z</code> will restrict results to cards legal for that rotation. Rotation has 2 different special options in addition to specific rotations: <code>current</code> or <code>latest</code>. These two only differ when there is a yet-to-be-active rotation. Rotation can also specify a specific rotation.  Valid specific rotation options are 
          <ul>
          {% set active_found = false %}
          {% set latest_found = false %}
          {% set today = "now"|date("Y-m-d") %}
          {% for rotation in rotations %}
            <li><code>{{ rotation.code }}</code>{% if (active_found == false) and (today >= rotation.getDateStart|date("Y-m-d")) %} (active){% set active_found = true %}{% endif %}{% if latest_found == false %} (latest){% set latest_found = true %}{% endif %}</li>
          {% endfor %}
          </ul>
        </li>
  </ul>

  <h2>Search examples</h2>

  <ul>
    <li><code>t:asset</code> searches for all Assets</li>
    <li><code>t:asset s:ambush</code> searches for every Asset that has the subtype Ambush</li>
    <li><code>x:"make a run"</code> searches for all cards with the text "make a run"</li>
    <li><code>t:asset|upgrade f:n</code> searches for all Assets and Upgrades from NBN</li>
    <li><code>f:a|s n&lt;3</code> searches for all Anarch and Shaper cards with a faction cost less than 3</li>
    <li><code>t:ice s!barrier|sentry|"code gate"</code> searches for all ICE that are neither barrier, code gate nor sentry</li>
    <li><code>r&lt;2013-01-01</code> searches for all cards released up to Jan 1, 2013</li>
    <li><code>d:r|c</code> searches for all Runner and Corp cards</li>
    <li><code>x:&#34;the Corp loses 1[credit]&#34;</code> returns Amina, Corporate &#34;Grant&#34;, and Lamprey</li>
    <li><code>d:corp z:current</code> returns all corp cards in the cycles valid for the latest rotation</li>
  </ul>
</div>
{% endblock %}
