:root {

  /* General ----------------------------------- */

  --nrdb-color--white: #fff;
  --nrdb-color--black: #000;
  --nrdb-color--gray: gray;
  --nrdb-color--dark-gray: darkgray;
  --nrdb-color--light-gray: lightgray;
  --nrdb-color--text: #333;
  --nrdb-color--link: #337AB7;
  --nrdb-color--link-hover: #23527c;
  --nrdb-color--background: var(--nrdb-color--white);
  --nrdb-color--card: #f8f8f8;
  --nrdb-color--card-hover: #f0f0f0;
  --nrdb-color--border: #eee;

  --nrdb-color--navbar-bg: #222;

  --nrdb-color--btn: #333;
  --nrdb-color--btn-bg: #eee;
  --nrdb-color--btn-border: #ddd;
  --nrdb-color--btn-bg-hover: #ddd;
  --nrdb-color--btn-border-hover: #ddd;
  --nrdb-color--btn-bg-active: #ddd;
  --nrdb-color--btn-border-active: #ccc;
  --nrdb-color--input-bg: #fafafa;

  --nrdb-color--like: red;
  --nrdb-color--favorite: orange;
  --nrdb-color--comment: green;
  --nrdb-color--error: #a94442;
  --nrdb-color--corp: blue;
  --nrdb-color--runner: red;
  --nrdb-color--admin: deeppink;
  --nrdb-color--legal: #577A57;
  --nrdb-color--banned: #B66;
  --nrdb-color--rotated: #558DEC;
  --nrdb-color--restricted: #8E80FF;
  --nrdb-color--unverified: #8F8F8F;
  --nrdb-color--code: #c7254e;
  --nrdb-color--code-bg: #f9f2f4;
  --nrdb-color--icon: #888888;
  --nrdb-color--alert-danger: #a94442;
  --nrdb-color--alert-danger-bg: #f2dede;
  --nrdb-color--alert-danger-border: #ebccd1;

  /* Factions ----------------------------------- */
  --nrdb-color--generic-faction: #333333;

  /*** Jinteki */
  --nrdb-color--jinteki: crimson;
  --nrdb-color--jinteki-hover: #FBE7EB;
  --nrdb-color--jinteki-bg: #f8d0d8;

  /*** Shaper */
  --nrdb-color--shaper: limegreen;
  --nrdb-color--shaper-hover: #EAFAEA;
  --nrdb-color--shaper-bg: #d6f5d6;

  /*** Haas-bioroid */
  --nrdb-color--haas-bioroid: blueviolet;
  --nrdb-color--haas-bioroid-hover: #F3EAFC;
  --nrdb-color--haas-bioroid-bg: #e7d4f9;

  /*** Anarch */
  --nrdb-color--anarch: orangered;
  --nrdb-color--anarch-hover: #FFECE6;
  --nrdb-color--anarch-bg: #ffd9cc;

  /*** Criminal */
  --nrdb-color--criminal: royalblue;
  --nrdb-color--criminal-hover: #ECF0FC;
  --nrdb-color--criminal-bg: #d9e1f9;

  /*** NBN */
  --nrdb-color--nbn: darkorange;
  --nrdb-color--nbn-hover: #FFF3E6;
  --nrdb-color--nbn-bg: #ffe8cc;

  /*** Weyland Consortium */
  --nrdb-color--weyland-consortium: darkgreen;
  --nrdb-color--weyland-consortium-hover: #E6EFE6;
  --nrdb-color--weyland-consortium-bg: #cce0cc;

  /*** Sunny Lebeau */
  --nrdb-color--sunny-lebeau: #66686B;
  --nrdb-color--sunny-lebeau-hover: #0C0D0D;
  --nrdb-color--sunny-lebeau-bg: #1B1C1D;

  /*** Adam */
  --nrdb-color--adam: #A89C33;
  --nrdb-color--adam-hover: #F9F8EB;
  --nrdb-color--adam-bg: #F2EFD4;

  /*** Apex */
  --nrdb-color--apex: #000000;
  --nrdb-color--apex-hover: #0D0D0D;
  --nrdb-color--apex-bg: #1C1C1C;

  /*** Neutral */
  --nrdb-color--neutral: gray;
  --nrdb-color--neutral-hover: #F0F2F4;
  --nrdb-color--neutral-bg: #E2E5E8;
}

:root[data-theme="light"] {
  svg[aria-label="nbn"] {
    fill: var(--nrdb-color--nbn);
  }
}

:root[data-theme="dark"] {

  /* General ----------------------------------- */

  --nrdb-color--text: #c8c2bc;
  --nrdb-color--link: #889DC4;
  --nrdb-color--link-hover: #b3dbff;
  --nrdb-color--background: #1c1e22;
  --nrdb-color--light-gray: #16181b;
  --nrdb-color--card: #1C1E1F;
  --nrdb-color--card-hover: #222425;
  --nrdb-color--border: #303133;

  --nrdb-color--navbar-bg: var(--nrdb-color--light-gray);

  --nrdb-color--btn: #c8c2bc;
  --nrdb-color--btn-bg: #262729;
  --nrdb-color--btn-border: #262729;
  --nrdb-color--btn-bg-hover: #202123;
  --nrdb-color--btn-border-hover: #262729;
  --nrdb-color--btn-bg-active: #1A1B1D;
  --nrdb-color--btn-border-active: #262729;
  --nrdb-color--input-bg: #262729;

  --nrdb-color--like: #b75454;
  --nrdb-color--favorite: #C6B460;
  --nrdb-color--comment: #448258;
  --nrdb-color--error: #a94442;
  --nrdb-color--corp: #6b6bff;
  --nrdb-color--runner: #c65454;
  --nrdb-color--admin: deeppink;
  --nrdb-color--legal: #698146;
  --nrdb-color--banned: #7F4554;
  --nrdb-color--rotated: #37435E;
  --nrdb-color--restricted: #674B76;
  --nrdb-color--unverified: #494949;
  --nrdb-color--code: inherit;
  --nrdb-color--code-bg: var(--nrdb-color--border);
  --nrdb-color--alert-danger: #ff908e;
  --nrdb-color--alert-danger-bg: #371414;
  --nrdb-color--alert-danger-border: #812F2F;

  /* Factions ----------------------------------- */

  /*** Anarch */
  --nrdb-color--anarch: #d9693f;
  --nrdb-color--anarch-hover: #FFECE630;
  --nrdb-color--anarch-bg: #ffd9cc30;

  /*** Criminal */
  --nrdb-color--criminal: #3862df;
  --nrdb-color--criminal-hover: #ECF0FC30;
  --nrdb-color--criminal-bg: #d9e1f930;

  /*** Shaper */
  --nrdb-color--shaper: #60a260;
  --nrdb-color--shaper-hover: #EAFAEA30;
  --nrdb-color--shaper-bg: #d6f5d630;

  /*** Haas-bioroid */
  --nrdb-color--haas-bioroid: #8854b9;
  --nrdb-color--haas-bioroid-hover: #F3EAFC30;
  --nrdb-color--haas-bioroid-bg: #e7d4f930;

  /*** Jinteki */
  --nrdb-color--jinteki: #b14157;
  --nrdb-color--jinteki-hover: #FBE7EB30;
  --nrdb-color--jinteki-bg: #f8d0d830;

  /*** NBN */
  --nrdb-color--nbn: #FFDE00;
  --nrdb-color--nbn-hover: #FFF3E630;
  --nrdb-color--nbn-bg: #ffe8cc30;

  /*** Weyland Consortium */
  --nrdb-color--weyland-consortium: #458c45;
  --nrdb-color--weyland-consortium-hover: #E6EFE630;
  --nrdb-color--weyland-consortium-bg: #cce0cc30;

  /*** Sunny Lebeau */
  --nrdb-color--sunny-lebeau: var(--nrdb-color--neutral);
  --nrdb-color--sunny-lebeau-hover: var(--nrdb-color--neutral-hover);
  --nrdb-color--sunny-lebeau-bg: var(--nrdb-color--neutral-bg);

  /*** Adam */
  --nrdb-color--apex: var(--nrdb-color--neutral);
  --nrdb-color--apex-hover: var(--nrdb-color--neutral-hover);
  --nrdb-color--apex-bg: var(--nrdb-color--neutral-bg);

  /*** Apex */
  --nrdb-color--apex: var(--nrdb-color--neutral);
  --nrdb-color--apex-hover: var(--nrdb-color--neutral-hover);
  --nrdb-color--apex-bg: var(--nrdb-color--neutral-bg);

  /*** Neutral */
  --nrdb-color--neutral-hover: #F0F2F430;
  --nrdb-color--neutral-bg: #E2E5E830;

  /*** Bootstrap buttons */
  .btn-primary {
    background-color: #365678;
    border-color: #365678;
  }
  .btn-primary:hover {
    background-color: #2c445e;
    border-color: #2c445e;
  }
  .btn-info {
    background-color: #528495;
    border-color: #528495;
  }
  .btn-info:hover {
    background-color: #416774;
    border-color: #416774;
  }
  .btn-success {
    background-color: #507e50;
    border-color: #507e50;
  }
  .btn-success:hover {
    background-color: #3f6240;
    border-color: #3f6240;
  }
  .btn-warning {
    background-color: #a07b50;
    border-color: #a07b50;
  }
  .btn-warning:hover {
    background-color: #7b6040;
    border-color: #7b6040;
  }
  .btn-danger {
    background-color: #8d4543;
    border-color: #8d4543;
  }
  .btn-danger:hover {
    background-color: #6e3737;
    border-color: #6e3737;
  }
  .btn-neutral {
    background-color: var(--nrdb-color--neutral-hover);
    color: #fff
  }
  .btn-neutral:hover {
    background-color: var(--nrdb-color--neutral-bg);
  }
  .btn-neutral:focus {
    outline-color: var(--nrdb-color--neutral);
  }

  /*** Faction banner */
  #navbar-factions {
    background-color: #16181B;
    border-color: #16181B;
  }

  /*** Update log */
  #update-log {
    border: 1px solid var(--nrdb-color--light-gray);
    background-color: var(--nrdb-color--light-gray);
  }
  #update-log th,
  #update-log tr {
    border-bottom: 1px solid var(--nrdb-color--background);
  }

  /*** Quick fixes */
  .table > tbody > tr.warning > td {
    background-color: #1f1e1b;
  }
  .navbar-inverse {
    border-bottom: 0;
  }
  .label-default {
    background-color: #444;
  }
}

html {
  background: var(--nrdb-color--light-gray);
}

body {
  font-size: 16px;
  font-family: 'LatoWeb', sans-serif;
  color: var(--nrdb-color--text);
}

button, input, optgroup, select, textarea {
  color: inherit;
}

select {
  background: var(--nrdb-color--border);
  border-color: var(--nrdb-color--border);
  padding: 6px;
}

a {
  color: var(--nrdb-color--link);
}

a:hover,
a:focus {
  color: var(--nrdb-color--link-hover);
}

.alert-danger {
  color: var(--nrdb-color--alert-danger);
  background-color: var(--nrdb-color--alert-danger-bg);
  border-color: var(--nrdb-color--alert-danger-border);
}

.social {
  color: var(--nrdb-color--dark-gray);
}

.social>div>a,
.social>div>span {
  margin: 0 10px
}

/* classes .card-* used in card pages, card modal, card tip */
.pack-future,
.card-preview {
  color: var(--nrdb-color--error);
}

.card-title {
  font-size: 125%;
  position: relative;
  z-index: 10;
  margin-right: 15px;
}

.card-cost {
  font-size: 125%;
}

.card-text {
  border-left: 2px solid var(--nrdb-color--gray);
}

.card-text sup {
  line-height: 0;
  font-size: x-small;
}

.card-text p {
  margin: 6px;
}

.card-flavor {
  font-style: italic;
  font-size: 0.8em;
}

.card-pronunciation {
  font-style: italic;
  font-size: 0.8em;
}

.card-text::before,
.card-flavor::before,
.card-pronunciation-break::before,
.card-illustrator::before {
  border-top: 1px solid var(--nrdb-color--border);
  width: 95%;
  content: "";
  margin: 5px auto;
  display: block;
}

.card-flavor em {
  font-style: normal;
}

.card-panel {
  padding-top: 10px;
  padding-bottom: 10px;
}

#push {
  clear: both
}

.type-icon,
.faction-icon {
  vertical-align: text-bottom
}

.icon-fw {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.influence {
  font-size: 90%;
  font-family: Arial;
}

.influence-anarch {
  color: var(--nrdb-color--anarch);
  border-color: var(--nrdb-color--anarch);
}

.influence-criminal {
  color: var(--nrdb-color--criminal);
  border-color: var(--nrdb-color--criminal);
}

.influence-shaper {
  color: var(--nrdb-color--shaper);
  border-color: var(--nrdb-color--shaper);
}

.influence-neutral-runner {
  color: var(--nrdb-color--neutral);
  border-color: var(--nrdb-color--neutral);
}

.influence-haas-bioroid {
  color: var(--nrdb-color--haas-bioroid);
  border-color: var(--nrdb-color--haas-bioroid);
}

.influence-jinteki {
  color: var(--nrdb-color--jinteki);
  border-color: var(--nrdb-color--jinteki);
}

.influence-nbn {
  color: var(--nrdb-color--nbn);
  border-color: var(--nrdb-color--nbn);
}

.influence-weyland-consortium {
  color: var(--nrdb-color--weyland-consortium);
  border-color: var(--nrdb-color--weyland-consortium);
}

.influence-neutral-corp {
  color: var(--nrdb-color--neutral);
  border-color: var(--nrdb-color--neutral);
}

.background-anarch-10 {
  background-color: var(--nrdb-color--anarch-hover);
}

.background-criminal-10 {
  background-color: var(--nrdb-color--criminal-hover);
}

.background-shaper-10 {
  background-color: var(--nrdb-color--shaper-hover);
}

.background-neutral-runner-10 {
  background-color: var(--nrdb-color--neutral-hover);
}

.background-haas-bioroid-10 {
  background-color: var(--nrdb-color--haas-bioroid-hover);
}

.background-jinteki-10 {
  background-color: var(--nrdb-color--jinteki-hover);
}

.background-nbn-10 {
  background-color: var(--nrdb-color--nbn-hover);
}

.background-weyland-consortium-10 {
  background-color: var(--nrdb-color--weyland-consortium-hover);
}

.background-neutral-corp-10 {
  background-color: var(--nrdb-color--neutral-hover);
}

.nav>li>a.background-anarch-hover:hover {
  background-color: var(--nrdb-color--anarch-hover);
}

.nav>li>a.background-criminal-hover:hover {
  background-color: var(--nrdb-color--criminal-hover);
}

.nav>li>a.background-shaper-hover:hover {
  background-color: var(--nrdb-color--shaper-hover);
}

.nav>li>a.background-neutral-runner-hover:hover {
  background-color: var(--nrdb-color--neutral-hover);
}

.nav>li>a.background-haas-bioroid-hover:hover {
  background-color: var(--nrdb-color--haas-bioroid-hover);
}

.nav>li>a.background-jinteki-hover:hover {
  background-color: var(--nrdb-color--jinteki-hover);
}

.nav>li>a.background-nbn-hover:hover {
  background-color: var(--nrdb-color--nbn-hover);
}

.nav>li>a.background-weyland-consortium-hover:hover {
  background-color: var(--nrdb-color--weyland-consortium-hover);
}

.nav>li>a.background-neutral-corp-hover:hover {
  background-color: var(--nrdb-color--neutral-hover);
}

.background-anarch-20 {
  background-color: var(--nrdb-color--anarch-bg);
}

.background-criminal-20 {
  background-color: var(--nrdb-color--criminal-bg);
}

.background-shaper-20 {
  background-color: var(--nrdb-color--shaper-bg);
}

.background-neutral-runner-20 {
  background-color: var(--nrdb-color--neutral-bg);
}

.background-haas-bioroid-20 {
  background-color: var(--nrdb-color--haas-bioroid-bg);
}

.background-jinteki-20 {
  background-color: var(--nrdb-color--jinteki-bg);
}

.background-nbn-20 {
  background-color: var(--nrdb-color--nbn-bg);
}

.background-weyland-consortium-20 {
  background-color: var(--nrdb-color--weyland-consortium-bg);
}

.background-neutral-corp-20 {
  background-color: var(--nrdb-color--neutral-bg);
}

.border-anarch {
  border-color: var(--nrdb-color--anarch);
}

.border-criminal {
  border-color: var(--nrdb-color--criminal);
}

.border-shaper {
  border-color: var(--nrdb-color--shaper)
}

.border-neutral-runner {
  border-color: var(--nrdb-color--neutral);
}

.border-haas-bioroid {
  border-color: var(--nrdb-color--haas-bioroid);
}

.border-jinteki {
  border-color: var(--nrdb-color--jinteki);
}

.border-nbn {
  border-color: var(--nrdb-color--nbn);
}

.border-weyland-consortium {
  border-color: var(--nrdb-color--weyland-consortium);
}

.border-neutral-corp {
  border-color: var(--nrdb-color--neutral);
}

#tag_toggles button {
  margin: 0 1px 1px 0
}

.label {
  margin: 0 1px 1px 0
}

.anarch {
  stroke: var(--nrdb-color--anarch);
  color: var(--nrdb-color--anarch) !important;
  border-color: var(--nrdb-color--anarch);
}

.criminal {
  stroke: var(--nrdb-color--criminal);
  color: var(--nrdb-color--criminal) !important;
  border-color: var(--nrdb-color--criminal);
}

.shaper {
  stroke: var(--nrdb-color--shaper);
  color: var(--nrdb-color--shaper) !important;
  border-color: var(--nrdb-color--shaper)
}

.neutral-runner {
  stroke: var(--nrdb-color--neutral);
  color: var(--nrdb-color--neutral) !important;
  border-color: var(--nrdb-color--neutral);
}

.haas-bioroid {
  stroke: var(--nrdb-color--haas-bioroid);
  color: var(--nrdb-color--haas-bioroid) !important;
  border-color: var(--nrdb-color--haas-bioroid);
}

.jinteki {
  stroke: var(--nrdb-color--jinteki);
  color: var(--nrdb-color--jinteki) !important;
  border-color: var(--nrdb-color--jinteki);
}

.nbn {
  stroke: var(--nrdb-color--nbn);
  color: var(--nrdb-color--nbn) !important;
  border-color: var(--nrdb-color--nbn)
}

.weyland-consortium {
  stroke: var(--nrdb-color--weyland-consortium);
  color: var(--nrdb-color--weyland-consortium) !important;
  border-color: var(--nrdb-color--weyland-consortium);
}

.neutral-corp {
  stroke: var(--nrdb-color--neutral);
  color: var(--nrdb-color--neutral) !important;
  border-color: var(--nrdb-color--neutral)
}

.admin {
  stroke: var(--nrdb-color--admin);
  color: var(--nrdb-color--admin) !important;
  border-color: var(--nrdb-color--admin);
}

.qtip-nrdb {
  min-width: 310px;
  max-width: 350px;
  font-size: 85.7%
}

.qtip-nrdb .card-image-wrapper,
.qtip-nrdb .card-image-mask {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.qtip-nrdb .card-image-wrapper,
.qtip-nrdb .card-image-image {
  background-color: var(--nrdb-color--black);
  float: right;
  height: 90px;
  width: 101px;
  margin: 5px 0px;
  position: relative;
  z-index: 1;
}

.qtip-nrdb .card-image-mask {
  background-size: 120px;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
}

.qtip-nrdb .card-image {
  width: 100%;
  height: 100%;
}

.qtip-nrdb .card-image svg {
  position: relative;
  top: -1px;
  left: -1px;
  height: 92px;
  width: 103px
}

.qtip-nrdb .card-image-runner-identity {
  background-size: 128px;
  background-position: 50% -23px;
}

.qtip-nrdb .card-image-runner-event {
  background-size: 128px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-runner-hardware {
  background-size: 140px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-runner-program {
  background-size: 134px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-runner-resource {
  background-size: 140px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-corp-identity {
  background-size: 128px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-corp-agenda {
  background-size: 138px;
  background-position: -25px -16px;
}

.qtip-nrdb .card-image-corp-asset {
  background-size: 134px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-corp-operation {
  background-size: 134px;
  background-position: 50% -15px;
}

.qtip-nrdb .card-image-corp-upgrade {
  background-size: 140px;
  background-position: 50% -21px;
}

.qtip-nrdb .card-image-corp-ice {
  background-size: 138px;
  background-position: -10px -108px;
  transform: rotate(90deg) scale(1.1);
  -webkit-transform: rotate(90deg) scale(1.1);
  -moz-transform: rotate(90deg) scale(1.1);
  -o-transform: rotate(90deg) scale(1.1);
  -ms-transform: rotate(90deg) scale(1.1);
}

.card-image {
  border-radius: 4.19%/3%;
}

article.rules aside {
  border-left: 1px solid var(--nrdb-color--border);
  padding-left: 20px
}

article.rules span.anr {
  font-style: italic;
  white-space: nowrap
}

article.rules {
  border-top: 1px dashed var(--nrdb-color--border);
  clear: both
}

article.tsr ol {
  list-style: none
}

article.tsr em {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal
}

article.rules nav.inner {
  float: right;
  border-left: 1px solid var(--nrdb-color--border);
  border-bottom: 1px solid var(--nrdb-color--border);
  margin-left: 20px
}

html,
body {
  height: 100%;
  background: var(--nrdb-color--light-gray);
}

#wrapper {
  background: var(--nrdb-color--background);
  padding-bottom: 50px;
  border-bottom: 1px solid var(--nrdb-color--silver);
}

footer {
  padding: 50px 0;
  color: var(--nrdb-color--dark-gray);
  background-color: var(--nrdb-color--light-gray);
}

.color-corp {
  color: var(--nrdb-color--corp)
}

.color-runner {
  color: var(--nrdb-color--runner)
}

.fake-inline-button {
  white-space: nowrap
}

.jumbotron {
  /*box-shadow:-1px 1px 4px*/
  border: 1px solid var(--nrdb-color--border);
  border-width: 1px 0px;
  background-color: var(--nrdb-color--card);
}

textarea {
  resize: vertical
}

tbody#decks {
  cursor: pointer
}

#deck-content {
  white-space: nowrap
}

#deck-content svg {
  height: 15px;
  vertical-align: text-bottom;
  margin-right: 2px;
}

.type,
.faction {
  text-align: center
}

.nav-tabs {
  margin-bottom: 15px
}

tbody .btn-group {
  white-space: nowrap
}

/* .btn-group>.btn,.btn-group-vertical>.btn{float:none;display:inline-block} */
.dropdown-controls input[type=checkbox] {
  margin: -4px 8px 0 -6px
}

.dropdown-controls label {
  margin: 0
}

#collection td {
  vertical-align: middle
}

.decklist .comment-date {
  color: var(--nrdb-color--text);
  float: right
}

.decklist .comment-text {
  clear: right;
  font-size: 93%;
}

.decklist blockquote {
  margin-bottom: 1em;
}

.decklist blockquote p {
  font-size: 100%;
}

.decklist h1 {
  border-bottom: 1px solid var(--nrdb-color--light-gray);
}

.decklist h1 img {
  vertical-align: text-top;
  margin-right: 10px
}

.decklist img {
  max-width: 100%;
}

.social-icon-like {
  color: var(--nrdb-color--like)
}

.social-icon-favorite {
  color: var(--nrdb-color--favorite)
}

.social-icon-comment {
  color: var(--nrdb-color--comment)
}

#table-similar td {
  color: var(--nrdb-color--dark-gray)
}

#table-similar td:hover {
  color: var(--nrdb-color--black)
}

.social-icon-like:hover {
  color: var(--nrdb-color--like)
}

.social-icon-favorite:hover {
  color: var(--nrdb-color--favorite)
}

.social-icon-comment:hover {
  color: var(--nrdb-color--comment)
}

.decklist-identity-image img {
  height: 64px
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(0, 0, 0, 0.05);
}

#collection-grid .col-sm-6 .media {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--nrdb-color--light-gray);
  overflow: hidden;
}

#collection-grid .col-sm-6 .media-object {
  height: 100px
}

#collection-grid .col-sm-6 .media-heading {
  line-height: 50px;
  white-space: nowrap
}

#collection-grid .col-sm-4 .media {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted var(--nrdb-color--light-gray);
  overflow: hidden;
}

#collection-grid .col-sm-4 .media-object {
  height: 70px
}

#collection-grid .col-sm-4 .media-heading {
  line-height: 30px;
  white-space: nowrap
}

#table-draw-simulator-content img.card-image {
  width: 99px;
  height: 138px;
  float: left;
  margin: 5px;
  box-shadow: var(--nrdb-color--black) 0px 0px 5px;
  border-radius: 5px;
}

#table-draw-simulator-content img.card-image.trashed {
  opacity: 0.25;
  box-shadow: none;
}

#table-draw-simulator-content img.card-image.trashed:hover {
  opacity: 0.75;
}

#table-draw-simulator-content div.card-proxy {
  background: var(--nrdb-color--gray);
  color: var(--nrdb-color--white);
  width: 99px;
  height: 138px;
  float: left;
  margin: 5px;
  box-shadow: black 0px 0px 5px;
  border-radius: 5px;
}

#table-draw-simulator-content img.card-proxy.trashed {
  opacity: 0.25;
  box-shadow: none;
}

#table-draw-simulator-content img.card-proxy.trashed:hover {
  opacity: 0.75;
}

#table-draw-simulator-content div.card-proxy div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center
}

#draw-simulator-special {
  display: none;
}

.builder-legality-indicators {
  display: inline-block;
  margin: 0 5px 0 2px;
}

.twitter-typeahead {
  width: 100%
}

.twitter-typeahead .tt-hint {
  color: var(--nrdb-color--dark-gray);
  margin-left: 11px;
  margin-top: 4px
}

.twitter-typeahead .tt-hint {
  display: none;
}

.twitter-typeahead .tt-query {
  margin-bottom: 0;
}

.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  color: inherit;
  background-color: var(--nrdb-color--card);
  border: 1px solid var(--nrdb-color--border);
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
  color: var(--nrdb-color--white);
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
  color: var(--nrdb-color--white);
}

.tt-suggestion p {
  margin: 0;
}

#deck-description>h1 {
  font-size: 24px;
  font-family: inherit;
  border: none;
}

#deck-description>h2 {
  font-size: 20px;
}

#deck-description>h3 {
  font-size: 18px;
}

#index_page .section {
  color: var(--nrdb-color--jinteki);
}

.deck-list-group-item {
  box-sizing: content-box;
  min-height: 80px;
}

.deck-list-group-item.selected {
  background: var(--nrdb-color--border) !important;
}

.deck-list-group-item div.deck-list-identity-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 50% 25%;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

#deck_browser {
  margin: 10px 0;
  width: 100%;
}

#deck_browser_left {
  direction: ltr;
  width: 1%;
  white-space: nowrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#deck_browser_center {
  text-align: center;
  background: var(--nrbdb-color--white);
}

#deck_browser_right {
  direction: rtl;
  width: 1%;
  white-space: nowrap;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#deck_browser div {
  width: 10px;
  overflow: visible;
  display: inline-block;
  position: relative;
}

.deck_browser_150 div {
  height: 150px;
}

.deck_browser_300 div {
  height: 300px;
}

#deck_browser_left div {
  -webkit-transform: translateZ(1px) translateX(1px) rotateY(40deg);
  -ms-transform: translateZ(1px) translateX(1px) rotateY(40deg);
  transform: translateZ(1px) translateX(1px) rotateY(40deg);
  -webkit-transform-origin: 0 75px;
  -ms-transform-origin: 0 75px;
  transform-origin: 0 75px;
}

#deck_browser_center div {
  width: auto;
  z-index: 1;
}

#deck_browser_center div img {
  box-shadow: 0 0 20px 10px var(--nrbdb-color--white);
}

#deck_browser_right div {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
  -ms-transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
  transform: translateZ(1px) translateX(-1px) rotateY(-40deg);
}

#deck_browser div img {
  height: 100%;
  border: 1px solid var(--nrbdb-color--white);
  border-radius: 10px;
}

#deck_gallery {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden
}

#deck_gallery td {
  padding: 0
}

#deck_gallery td>div {
  height: 100px;
  overflow: visible;
  position: relative
}

#deck_gallery td>div>img {
  height: 100%;
  border: 1px solid var(--nrdb-color--white);
  border-radius: 10px;
}

#deck_gallery td>div>div {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 1px;
  bottom: 1px;
  color: var(--nrdb-color--white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  font-family: monospace
}

@-webkit-keyframes animDonator {
  0% {
    color: rgba(255, 223, 48, 1);
  }

  100% {
    color: rgba(255, 223, 48, 0.2);
  }
}

.donator {
  animation: animDonator 2s ease-in 0s infinite alternate;
  -webkit-animation: animDonator 2s ease-in 0s infinite alternate;
  color: rgba(255, 223, 48, 1);
}

.rwd-table tr {
  border-top: 1px solid var(--nrdb-color--border);
  border-bottom: 1px solid var(--nrdb-color--border);
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.cell-indent {
  text-indent: 25px;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

div.no-image {
  border: 1px solid var(--nrdb-color--silver);
  border-radius: 20px;
  max-width: 300px;
  position: relative;
}

div.no-image:before {
  content: "";
  display: block;
  padding-top: 140%;
}

div.no-image-text {
  line-height: 20px;
  height: 20px;
  overflow: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#list article.review {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid var(--nrdb-color--border);
}

#index_page article.review {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--nrdb-color--border);
}

article.review:first-child {
  margin-top: 0 !important;
}

article.review .review-like {
  float: left;
  font-size: 120%;
  width: 50px
}

article.review .review-content {
  margin-left: 50px
}

article.review .review-text :first-child {
  margin-top: 0px
}

article.review .review-date {
  clear: both;
  text-align: right
}

article.review .review-latestpack {
  clear: both;
  text-align: right
}

article.review .review-author {
  text-align: right
}

article.review .review-comment {
  border-top: 1px solid var(--nrdb-color--border);
  padding: 0.5em;
}

@media (min-width: 992px) {

  #recent_decklists,
  #recent_reviews {
    border-left: 1px solid var(--nrdb-color--border);
  }
}

div.ad {
  display: none;
  text-align: center;
  margin: 25px auto;
}

div.ad-blocked {
  background: var(--nrdb-color--border);
  background: -moz-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe5e5), color-stop(100%, #e5e5ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffe5e5 0%, #e5e5ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffe5e5 0%, #e5e5ff 100%);
  /* W3C */
  border-style: solid;
  border-width: 1px 0px;
  border-color: var(--nrdb-color--runner) var(--nrdb-color--corp) var(--nrdb-color--corp) var(--nrdb-color--runner);
  padding: 10%;
  font: 30px/40px sans-serif;
  text-align: center;
  margin: auto;
}

.navbar {
  background-color: var(--nrdb-color--navbar-bg)
}

.navbar-brand {
  position: relative;
}

.navbar-brand span.icon:nth-child(2) {
  position: absolute;
  left: 15px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: var(--nrdb-color--border);
  color: var(--nrdb-color--text);
}

.navbar-inverse .navbar-nav>li>.dropdown-toggle:hover,
.navbar-inverse .navbar-nav>li>.dropdown-toggle:focus,
.navbar-inverse .navbar-nav>li>.dropdown-toggle:focus-within {
  background-color: var(--nrdb-color--border) !important;
  color: var(--nrdb-color--text);
}

.navbar-brand .icon {
  font-size: 120%;
  line-height: 83%;
}

.navbar-brand:hover .icon-link-half-top {
  color: var(--nrdb-color--runner);
}

.navbar-brand:hover .icon-link-half-bottom {
  color: var(--nrdb-color--corp);
}

#navbar-factions {
  margin-bottom: 20px;
  border: 1px solid var(--nrdb-color--border);
  border-radius: 5px;
  background: var(--nrdb-color--card);
}

.dropdown-menu {
  z-index: 1060 !important;
  background-color: var(--nrdb-color--card);
}

.dropdown-menu input[type=text].form-control {
  width: auto;
  margin: 2px 10px;
  background-color: var(--nrdb-color--white) !important;
  color: var(--nrdb-color--black) !important;
}

.btn-ghost {
  background: transparent;
  color: inherit;
}

span.label-as-badge {
  border-radius: 1em;
}

span.champion {
  font-style: normal;
  font-weight: bold;
}

img[data-src] {
  font-weight: bold;
  color: var(--nrdb-color--link);
  cursor: pointer;
}

ul.msl-entries-list blockquote {
  font-size: inherit;
  padding: 5px 10px;
}

ul.rulings-list blockquote {
  font-size: inherit;
  padding: 5px 10px;
}

#restricted:not(:empty),
#rotated:not(:empty),
#limited:not(:empty),
#out_of_faction_agendas:not(:empty),
#startupvalidation:not(:empty),
#ampere_agenda_limit:not(:empty) {
  color: var(--nrdb-color--error);
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.search-example {
  border: 1px solid var(--nrdb-color--gray);
  font-family: monospace;
  padding: 0 2px;
}

/* Card legality and ruling verification indicators */
.legality-verified:before,
.legality-unverified:before,
.legality-available:before,
.legality-unavailable:before,
.legality-legal:before,
.legality-banned:before,
.legality-rotated:before,
.legality-added:before,
.legality-restricted:before,
.legality-1-inf:before,
.legality-3-inf:before {
  display: inline-block;
  min-width: 7.5em;
  border-radius: 100px;
  padding: 2px 8px;
  color: var(--nrdb-color--white);
  font-family: 'LatoWeb', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
}

.legality-verified:before {
  content: "VERIFIED";
  background-color: var(--nrdb-color--legal);
}

.legality-unverified:before {
  content: "UNVERIFIED";
  background-color: var(--nrdb-color--unverified);
}

.legality-available:before {
  content: "LEGAL";
  background-color: var(--nrdb-color--legal);
}

.legality-unavailable:before {
  content: "NOT LEGAL";
  background-color: var(--nrdb-color--unverified);
}

.legality-legal:before {
  content: "LEGAL";
  background-color: var(--nrdb-color--legal);
}

.legality-banned:before {
  content: "BANNED";
  background-color: var(--nrdb-color--banned);
}

.legality-rotated:before {
  content: "ROTATED";
  background-color: var(--nrdb-color--rotated);
}

.legality-added:before {
  content: "ADDED";
  background-color: var(--nrdb-color--legal);
}

.legality-restricted:before {
  content: "RESTRICTED";
  background-color: var(--nrdb-color--restricted);
}

.legality-1-inf:before {
  content: "1 INF.";
  background-color: var(--nrdb-color--rotated);
}

.legality-3-inf:before {
  content: "3 INF.";
  background-color: var(--nrdb-color--rotated);
}

.legality-interactive {
  white-space: nowrap;
}

.legality-interactive:before {
  min-width: 1em;
}

.legality-interactive:not(:hover):not(:active):before {
  content: "!";
  min-width: 1em;
}

.legality-legal.legality-interactive:not(:hover):not(:active):before {
  content: "/";
}

.legality-restricted.legality-interactive:not(:hover):not(:active):before {
  content: "?";
}

.legality-1-inf.legality-interactive:not(:hover):not(:active):before {
  content: "1";
}

.legality-3-inf.legality-interactive:not(:hover):not(:active):before {
  content: "3";
}

/*** screen reader fallback ***/
.icon-fallback {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Platform-dependent alignment */
@media (min-width: 480px) {
  .desktop-centered {
    text-align: center !important;
  }
}

/* Update log */
#update-log {
  margin-top: 40px;
  padding: 0;
  border: 1px solid var(--nrdb-color--border);
  border-radius: 5px;
  background: var(--nrdb-color--card);
}

#update-log table {
  width: 100%;
}

#update-log tbody {
  display: block;
  width: 100%;
  padding-left: 20px;
  max-height: 120px;
  overflow-y: scroll;
  transition: max-height 1s;
}

#update-log th {
  padding: 7px 5px 5px 5px;
  border-bottom: 1px solid var(--nrdb-color--border);
  text-align: center;
}

#update-log tr {
  color: var(--nrdb-color--gray);
  border-bottom: 1px solid var(--nrdb-color--border);
  vertical-align: top;
}

#update-log tr:first-child {
  color: inherit;
}

#update-log td {
  padding-top: 8px;
}

#update-log .date {
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}

#update-log ul {
  list-style-type: '-  ';
}

/* Loading icon */
.loading-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 0.75em;
}

.loading-icon * {
  display: inline-block;
  position: absolute;
}

.loading-icon-red,
.loading-icon-blue,
.loading-icon-overlap {
  border: 0.2em solid;
  /* 20% */
  left: 0;

  width: 100%;
  height: 100%;

  animation-name: loading-icon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-icon-red,
.loading-icon-overlap {
  border-color: var(--nrdb-color--runner);
  transform: translate(-20%, -20%);
}

.loading-icon-blue {
  border-color: var(--nrdb-color--corp);
  transform: translate(20%, 20%);
  animation-delay: -1s;
}

.loading-icon-overlap {
  border-top: 0;
  border-bottom: 0;
}

@keyframes loading-icon {
  0% {
    transform: translate(-20%, -20%);
  }

  25% {
    transform: translate(20%, -20%);
  }

  50% {
    transform: translate(20%, 20%);
  }

  75% {
    transform: translate(-20%, 20%);
  }

  100% {
    transform: translate(-20%, -20%);
  }
}

/******** fix for twitter typehead + bootstrap input-group-btn ***********/

.input-group .twitter-typeahead {
  top: 3px;
}

.input-group .twitter-typeahead:last-child input.form-control.tt-input {
  border-radius: 0 4px 4px 0;
}

.input-group .twitter-typeahead:first-child input.form-control.tt-input {
  border-radius: 4px 0 0 4px;
}

/*** remove href after links caused by bootstrap ****/

@media print {
  a[href]:after {
    content: "";
  }
}

.pagination > li > a {
  background-color: var(--nrdb-color--card);
  border-color: var(--nrdb-color--border);
  color: var(--nrdb-color--text);
}

.pagination > .disabled > a {
  background-color: var(--nrdb-color--light-gray);
  border-color: var(--nrdb-color--light-gray);
}

.list-group-item {
  background-color: var(--nrdb-color--card);
  border-color: var(--nrdb-color--border);
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  background-color: var(--nrdb-color--card-hover);
  color: var(--nrdb-color--text);
}

.panel {
  background-color: unset;
}

.panel-default {
  border-color: var(--nrdb-color--border);
}

.panel-default > .panel-heading {
  background-color: var(--nrdb-color--border);
  border-color: var(--nrdb-color--btn-border);
  color: inherit;
}

.panel-heading:not(:first-of-type) {
  border-radius: 0;
}

.panel-body {
  background-color: var(--nrdb-color--white);
}

.panel-default .btn {
  background-color: var(--nrdb-color--card);
  border-color: var(--nrdb-color--card);
  color: inherit;
}

a.list-group-item, button.list-group-item {
  color: var(--nrdb-color--text);
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: var(--nrdb-color--card);
}

.pager li > a,
.pager li > span {
  background-color: var(--nrdb-color--white);
  border-color: var(--nrdb-color--border);
  color: var(--nrdb-color--link);
}

.pager li > a:hover,
.pager li > span:hover {
  color: var(--nrdb-color--link-hover);
}

.qtip-bootstrap {
  background-color: var(--nrdb-color--card);
  border-color: var(--nrdb-color--border);
  color: var(--nrdb-color--text);
}

.table>tbody>tr>td,
.table>thead>tr>th {
  border-color: var(--nrdb-color--border);
}

legend {
  color: inherit;
  border-color: var(--nrdb-color--border);
}

:root[data-theme="dark"] {

  .pager li > a,
  .pager li > span {
    background-color: var(--nrdb-color--border);
  }

  .panel-body {
    background-color: var(--nrdb-color--card);
  }

  .qtip-nrdb .card-image-wrapper {
    background-color: var(--nrdb-color--white);
  }

  #navbar-factions a:hover,
  #navbar-factions a:focus {
    color: var(--nrdb-color--white);
  }

  .dropdown-header {
    color: var(--nrdb-color--dark-gray);
  }

  .dropdown-menu>li>a {
    color: var(--nrdb-color--white);
  }

  .highcharts-background {
    fill: var(--nrdb-color--border);
  }

  .highcharts-grid-line,
  .highcharts-minor-grid-line,
  .highcharts-point {
    stroke: var(--nrdb-color--criminal-hover);
  }

  .highcharts-legend-item text {
    color: var(--nrdb-color--white) !important;
    fill: var(--nrdb-color--white) !important;
  }
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: var(--nrdb-color--border);
}


.form-control,
.multiselect {
  background-color: var(--nrdb-color--input-bg) !important;
  border-color: var(--nrdb-color--btn-border);
  color: inherit;
}

.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:active,
.multiselect:focus,
.multiselect:hover,
.dropdown-toggle:focus,
.dropdown-toggle:hover {
  color: inherit;
  background-color: inherit;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: var(--nrdb-color--btn-bg);
}

.dropdown-menu .divider {
  background-color: var(--nrdb-color--btn-border);
}

#login a.btn[href*="/resetting/"] {
  background-color: transparent;
  border-color: transparent;
}

button[data-theme-toggle="light"],
button[data-theme-toggle="dark"] {
  border: unset;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

button[data-theme-toggle] svg {
  fill: var(--nrdb-color--text); /* Fallback if currentColor isn't supported */
  fill: currentColor;
  width: 17px;
  height: 17px;
}

button[data-theme-toggle="light"] svg {
  fill: #9d9d9d;
}

html[data-theme="light"] button[data-theme-toggle] svg:last-of-type {
  display: none;
}

html[data-theme="dark"] button[data-theme-toggle] svg:first-of-type {
  display: none;
}

code {
  color: var(--nrdb-color--code);
  background-color: var(--nrdb-color--code-bg);
}

.modal-dialog .modal-content {
  background-color: var(--nrdb-color--card);
  border-color: var(--nrdb-color--border);
  color: inherit;
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border-color: var(--nrdb-color--border);
}

.close {
  color: inherit;
}

.btn.btn-default,
.btn.btn-secondary {
  background-color: var(--nrdb-color--btn-bg);
  border-color: var(--nrdb-color--btn-border);
  color: var(--nrdb-color--btn);
}
.btn.btn-default:hover,
.btn.btn-secondary:hover {
  background-color: var(--nrdb-color--btn-bg-hover);
  border-color: var(--nrdb-color--btn-border-hover);
  color: var(--nrdb-color--btn);
}
.btn.btn-default.active,
.btn.btn-secondary.active {
  background-color: var(--nrdb-color--btn-bg-active);
  border-color: var(--nrdb-color--btn-border-active);
  color: var(--nrdb-color--btn);
}

.table-hover > tbody > tr:hover {
  background-color: var(--nrdb-color--border);
}

.well {
  background-color: var(--nrdb-color--border);
  border-color: var(--nrdb-color--border);
  color: inherit;
}

.typeIcon {
  width: 16px;
  height: 16px;
  fill: var(--nrdb-color--icon);
}

.typeIcon--large {
  width: 36px;
  height: 36px;
}

#faction_code,
#type_code {
  border: 1px solid var(--nrdb-color--border-light);
  border-radius: 3px;
}

#faction_code label.btn:not(:last-of-type),
#type_code label.btn:not(:last-of-type) {
  border-right: 1px solid var(--nrdb-color--border-light);
}

#faction_code label.btn.active,
#type_code label.btn.active {
  background-color: var(--nrdb-color--btn-bg-active);
}

#faction_code label.btn.active:active,
#type_code label.btn.active:active,
#faction_code label.btn.active:focus,
#type_code label.btn.active:focus {
  border-color: transparent;
}

#faction_code label.btn svg,
#type_code label.btn svg {
  margin-top: 5px;
}


svg[data-icon-color="adam"],
#navbar-factions svg[aria-label="Adam"],
#factions-dropdown svg[aria-label="Adam"],
#faction_code [data-code="adam"] svg {
  fill: var(--nrdb-color--adam);
}

svg[data-icon-color="anarch"],
#navbar-factions svg[aria-label="Anarch"],
#factions-dropdown svg[aria-label="Anarch"],
#faction_code [data-code="anarch"] svg {
  fill: var(--nrdb-color--anarch);
}

svg[data-icon-color="apex"],
#navbar-factions svg[aria-label="Apex"],
#factions-dropdown svg[aria-label="Apex"],
#faction_code [data-code="apex"] svg {
  fill: var(--nrdb-color--apex);
}

svg[data-icon-color="criminal"],
#navbar-factions svg[aria-label="Criminal"],
#factions-dropdown svg[aria-label="Criminal"],
#faction_code [data-code="criminal"] svg {
  fill: var(--nrdb-color--criminal);
}

svg[data-icon-color="shaper"],
#navbar-factions svg[aria-label="Shaper"],
#factions-dropdown svg[aria-label="Shaper"],
#faction_code [data-code="shaper"] svg {
  fill: var(--nrdb-color--shaper);
}

svg[data-icon-color="sunny-lebeau"],
#navbar-factions svg[aria-label="Sunny Lebeau"],
#factions-dropdown svg[aria-label="Sunny Lebeau"],
#faction_code [data-code="sunny-lebeau"] svg {
  fill: var(--nrdb-color--sunny-lebeau);
}

svg[data-icon-color="neutral-runner"],
#navbar-factions svg[aria-label="Neutral Runner"],
#factions-dropdown svg[aria-label="Neutral Runner"],
#faction_code [data-code="neutral-runner"] svg {
  fill: var(--nrdb-color--neutral);
}

svg[data-icon-color="haas-bioroid"],
#navbar-factions svg[aria-label="Haas-bioroid"],
#factions-dropdown svg[aria-label="Haas-bioroid"],
#faction_code [data-code="haas-bioroid"] svg {
  fill: var(--nrdb-color--haas-bioroid);
}

svg[data-icon-color="jinteki"],
#navbar-factions svg[aria-label="Jinteki"],
#factions-dropdown svg[aria-label="Jinteki"],
#faction_code [data-code="jinteki"] svg {
  fill: var(--nrdb-color--jinteki);
}

svg[data-icon-color="nbn"],
#navbar-factions svg[aria-label="NBN"],
#factions-dropdown svg[aria-label="NBN"],
#faction_code [data-code="nbn"] svg {
  fill: var(--nrdb-color--nbn);
}

svg[data-icon-color="weyland-consortium"],
#navbar-factions svg[aria-label="Weyland Consortium"],
#factions-dropdown svg[aria-label="Weyland Consortium"],
#faction_code [data-code="weyland-consortium"] svg {
  fill: var(--nrdb-color--weyland-consortium);
}

svg[data-icon-color="neutral-corp"],
#navbar-factions svg[aria-label="Neutral Corp"],
#factions-dropdown svg[aria-label="Neutral Corp"],
#faction_code [data-code="neutral-corp"] svg {
  fill: var(--nrdb-color--neutral);
}

#navbar-factions li a,
#factions-dropdown li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#navbar-factions li a {
  justify-content: center;
  text-align: center;
}

.icon-with-title,
.decklist-name__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

table .table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table > tbody > tr > td[data-th="Faction"] {
  vertical-align: revert; !important;
}

/*  Select all icon types under .card-text */
.card-text abbr[class*="icon icon-"] {
  font-size: 0px;
}

.card-text abbr[class*="icon icon-"]:before {
  font-size: 16px;
}

.card-image-flippable {
  transform-style: preserve-3d;
  display: block;
  transition: transform 420ms ease;
  aspect-ratio: 3/4.19;
}

@media (prefers-reduced-motion) {
  .card-image-flippable {
    transition: none;
  }
}

.card-image-flippable * {
  user-select: none;
}

.card-image-flippable img {
  width: inherit;
  display: inline-block;
}

.card-image-flippable.flipped {
  transform: rotateY(180deg) !important;
}

.card-image-flippable__front,
.card-image-flippable__back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-image-flippable__back {
  transform: rotateY(180deg);
}

.card-image-flippable-buttons {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

#pnp-container {
  margin-top: 2em;
}

.pnp-image {
  float: left;
  height: 300px;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.list-group--pnp {
  overflow-y: auto;
  scrollbar-width: thin;
  max-height:615px;
}
