{% extends '/layout.html.twig' %}

{% block title %}Play Formats{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <h2>Startup</h2>
  <h2>Standard</h2>

</div>
{% endblock %}

