{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block body -%}
<div class="container">

<h1>NetrunnerDB Translation Home</h1>

<ol class="breadcrumb">
  <li class="active">Translation Home</li>
</ol>

<h3>Please choose your language</h3>

<div class="row">
	{% for code, name in supportedLocales %}
	<div class="col-xs-6 col-md-3">
		<a href="{{ path('translation_overview', {localeCode: code}) }}" class="thumbnail">
			<img src="{{ asset('/bundles/netrunnerdbbuilder/images/flags/128px/flag_' ~ code ~ '.png') }}" alt="Flag for {{ name }} language">
			<div class="caption text-center">
				{{ name }}
			</div>
		</a>
	</div>
	{% endfor %}
</div>

</div>
{% endblock %}
