{% extends '/layout.html.twig' %}

{% block title %}Ban Lists{% endblock %}

{% block body %}
<div class="container">

  <h1>{{ block('title') }}</h1>

  <h2>Startup</h2>
  <p>No cards are currently banned in Startup.  Have a blast!</p>

  <h2>Standard</h2>

</div>
{% endblock %}
