{% extends '/layout.html.twig' %}

{% block body %}

    <div class="container">

        <h1>API Explorer</h1>

        <form id="form">
        <div class="row">
            <div class="col-md-2 form-group">
                <label for="method">Method</label>
                <select  class="form-control" id="method">
                    <option>POST</option>
                    <option>GET</option>
                    <option>PUT</option>
                    <option>DELETE</option>
                </select>
            </div>
            <div class="col-md-10 form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" rows="6"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="response">Response</label>
                <pre class="form-control" id="response"></pre>
            </div>
        </div>

        <script type="text/javascript">
            var token = {{ token|json_encode|raw }};
            function displayData(data, className) {
                $('#response').height(0);
                $('#response').text(JSON.stringify(data, null, 2));
                $('#response').height($('#response')[0].scrollHeight);
                $('#response').removeClass().addClass(className);
            }
            $(function () {
                $('#form').submit(function (event) {
                    event.preventDefault();
                    var url = $('#url').val() + '?access_token=' + token.access_token,
                            method = $('#method').val(),
                            data = $('#body').val();
                    if(method === 'GET' || method === 'DELETE') {
                        data = null;
                    }
                    $.ajax(url, {
                        accepts: 'application/json',
                        data: data,
                        method: method
                    }).then(function (response) {
                        displayData(response, 'bg-success');
                    }, function (response) {
                        var data = JSON.parse(response.responseText);
                        displayData(data, 'bg-danger');
                    });
                });
                $('#method').change(function (event) {
                    switch($(this).val()) {
                        case 'GET':
                        case 'DELETE':
                            $('#body').attr('disabled', 'disabled');
                            break;
                        default:
                            $('#body').removeAttr('disabled');
                            break;
                    }
                });
            });
        </script>

    </div>

{% endblock %}