{% extends '/layout.html.twig' %}

{% block body %}

    <div class="container">

        <h1>API Explorer</h1>

        <a class="btn btn-default" href="{{ path('fos_oauth_server_authorize',{response_type:'code',client_id:client_id,redirect_uri:redirect_uri}) }}" role="button">Connect to NetrunnerDB</a>

    </div>

{% endblock %}