{% extends 'AppBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container">

<h1>{{ block('title') }}</h1>

<p>This website is dedicated to providing a fast, powerful and exhaustive deck builder and search engine for Android:Netrunner cards, along with card descriptions and card scans.</p>
<p>This website is optimized for mobile browsing (WebKit), and I will try to keep it that way.</p>

<h2>Code of Conduct</h2>

<p>NetrunnerDB is provided as a free service to the Netrunner community, which prides itself on being friendly, inclusive & tolerant. In order to support this, rather than provide a set of rules that can be interpreted and become subject to abuse, NetrunnerDB provides this Code of Conduct to support all users when posting their decks, card reviews & comments. All codes should be considered guidelines, rather than absolutes. Circumvention is, in the eyes of the Moderation & Administration team, the same as breaking.</p>
<p><b>Care:</b> Every single user of the site is here because they are part of the wider Netrunner community, and almost certainly shares your passion and interest in the game. Respect your fellow users, and accept that different players derive enjoyment from the game in differing ways. In the words of Bill & Ted - "Be Excellent To One Another!"</p>
<p><b>Consideration</b>: The site does not restrict users in the content or comments that they post by intent. However, when posting, take the time to consider 'Would someone find this offensive?' - If you need to think about it, the answer is probably Yes, and you should reconsider the content and alter your posting accordingly. Try to consider how other parties will interpret your posting.</p>
<p><b>Tone</b>: As a counterpoint to Consideration, don't look to take offence. Text is universally the worst possible method of human communication, as it lacks the nuance of tone. It's natural on the Internet that people will read all text in the worst possible way, but remember it's entirely probable the other party didn't intend it that way.</p>
<p><b>NSFW</b>: All content should be at all times Safe For Work. No exceptions.</p>
<p><b>Deck of the Week</b>: The Deck of the Week entry is chosen based on popularity, but users should also remind themselves it serves as an example to visitors of what a great community Android: Netrunner has. Deck of the week entries must abide by all of the Codes of Conduct described above, and the Moderation team where necessary will remove decks that do not maintain these standards.</p>
<p><b>Moderation</b>: NetrunnerDB has a Moderator team who provide oversight to ensure content remains within the guidelines presented here. If a Moderator asks you to reconsider or change something, please do so. Moderators have the capability to remove decks, card reviews & comments if they feel it is necessary. They're here to keep the peace, try not to make them need to.</p>
<p><b>Governance</b>: NetrunnerDB is not a right. The word of the Moderation & Administration team is final. Please do not attempt to harass or intentionally annoy either group. However, if you feel you've been treated unfairly by a Moderator or Administrator, please let us know, and let's talk about it.</p>

<h2>Search syntax</h2>

<ul>
<li>a search string is a conjunction of one or more <b>conditions</b> separated by one or more spaces</li>
<li>a <b>condition</b> is either:
<ul>
<li>a <b>word</b> or <b>expression</b> or <b>disjunction</b></li>
<li>a <b>criteria</b> followed by an <b>operator</b> followed by a <b>word</b> or <b>expression</b> or <b>disjunction</b>
</ul>
</li>
<li>a <b>word</b> must match <tt>/[\w\-]/</tt>: letters, digits, dash</li>
<li>an <b>expression</b> is any text between <tt>"</tt></li>
<li>a <b>disjunction</b> is several <b>words</b> or <b>expressions</b> separated by <tt>|</tt></li>
<li>a <b>criteria</b> is a single letter:
<ul>
<li><tt>x</tt> &ndash; text</li>
<li><tt>a</tt> &ndash; flavor text</li>
<li><tt>e</tt> &ndash; set</li>
<li><tt>c</tt> &ndash; cycle</li>
<li><tt>t</tt> &ndash; type</li>
<li><tt>f</tt> &ndash; faction</li>
<li><tt>s</tt> &ndash; subtype</li>
<li><tt>d</tt> &ndash; side</li>
<li><tt>i</tt> &ndash; illustrator</li>
<li><tt>o</tt> &ndash; cost</li>
<li><tt>g</tt> &ndash; advancement cost</li>
<li><tt>m</tt> &ndash; memory usage</li>
<li><tt>n</tt> &ndash; influence (faction cost)</li>
<li><tt>p</tt> &ndash; strength</li>
<li><tt>v</tt> &ndash; agenda points</li>
<li><tt>h</tt> &ndash; trash cost</li>
<li><tt>r</tt> &ndash; release date</li>
<li><tt>u</tt> &ndash; unique</li>
</ul>
</li>
<li>an <b>operator</b> is either:
<ul>
<li><tt>:</tt> &ndash; equals</li>
<li><tt>!</tt> &ndash; different from</li>
<li><tt>&lt;</tt> &ndash; less than</li>
<li><tt>&gt;</tt> &ndash; more than</li>
</ul>
</li>
<li><b>Special case</b> <tt>r</tt> (release date) uses only the operators <tt>&lt;</tt> (inclusive) and <tt>&gt;</tt> (exclusive) and only understands the arguments <tt>now</tt> or a date YYYY-MM-DD</li>
</ul>

<h2>Search examples</h2>

<ul>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:asset</span> searches for all Assets</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:asset s:ambush</span> searches for every Asset that has the subtype Ambush</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">x:"make a run"</span> searches for all cards with the text "make a run"</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:asset|upgrade f:n</span> searches for all Assets and Upgrades from NBN</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">f:a|s n&lt;3</span> searches for all Anarch and Shaper cards with a faction cost less than 3</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">t:ice s!barrier|sentry|"code gate"</span> searches for all ICE that are neither barrier, code gate nor sentry</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">r&lt;2013-01-01</span> searches for all cards released up to Jan 1, 2013</li>
<li><span style="border:1px solid #888;font-family:monospace;padding:0 2px">d:r|c</span> searches for all Runner and Corp cards</li>
</ul>

</div>
{% endblock %}
